/*
    So you like the style of impress.js demo?
    Or maybe you are just curious how it was done?

    You couldn't find a better place to find out!

    Welcome to the stylesheet impress.js demo presentation.

    Please remember that it is not meant to be a part of impress.js and is
    not required by impress.js.
    I expect that anyone creating a presentation for impress.js would create
    their own set of styles.

    But feel free to read through it and learn how to get the most of what
    impress.js provides.

    And let me be your guide.

    Shall we begin?
*/

/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
  font-family: 'PT Sans', sans-serif;
  min-height: 740px;

  background: rgb(215, 215, 215);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

/*
    Now let's bring some text styles back ...
*/
b, strong {
  font-weight: bold
}

i, em {
  font-style: italic
}

/*
    ... and give links a nice look.
*/
a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(0, 0, 0, 0.0);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
  border-radius: 0.2em;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:focus {
  background: rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.

    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?

    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-supported .fallback-message {
  display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'PT Serif', georgia, serif;
  font-size: 48px;
  line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
  margin: 0;
  opacity: 0;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.impress-enabled .step.active {
  opacity: 1
}

.impress-enabled .step.same {
  opacity: 0
}

.impress-enabled .step.same.active {
  opacity: 1
}

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    ;)

    They cover everything what you see on first three steps of the demo.
*/
.slide {
  display: block;

  width: 1000px;
  height: 750px;
  padding: 40px 60px;
  /*padding: 0;*/

  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
}

.step q {
  display: block;
  font-size: 50px;
  line-height: 72px;

  margin-top: 100px;
}

.step q strong {
  white-space: nowrap;
}

.step h2 {
  display: block;
  font-size: 50px;
  line-height: 72px;

  padding-bottom: 40px;
  text-align: center;
}

.step h3 {
  display: block;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.step ul {
  list-style: disc;
  padding-left: 2em;
  line-height: 1.2em;
}

.step ol {
  list-style: decimal;
  padding-left: 2em;
  line-height: 1.2em;
}

.step li + li {
  margin-top: 0.7em;
}

.step.past {
  z-index: -1;
}

.step.future {
  z-index: -1;
}

.step.present {
  z-index: 9999;
}

.highlight {
  color: red;
}

/*
    And now we start to style each step separately.

    I agree that this may be not the most efficient, object-oriented and
    scalable way of styling, but most of steps have quite a custom look
    and typography tricks here and there, so they had to be styled separately.

    First is the title step with a big <h1> (no room for padding) and some
    3D positioning along Z axis.
*/

.title {
  /*text-align: center;*/
  padding: 0;
}

.title .try {
  font-size: 64px;
  position: absolute;
  top: -1.7em;
  left: 0;
  white-space: nowrap;

  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px);
}

.title .center {
  width: 100%;
  text-align: center;
}

.title h1 {
  font-size: 100px;

  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
}

.title .footnote {
  margin-top: 140px;
  font-size: 32px;
}

/*
    Second step is nothing special, just a text with a link, so it doesn't need
    any special styling.

    Let's move to 'big thoughts' with centered text and custom font sizes.
*/
#thanks {
  width: 800px;
  text-align: center;
  font-size: 60px;
  line-height: 1;
}

#thanks b {
  display: block;
  font-size: 150px;
  line-height: 250px;
  margin-bottom: 120px;
}

#thanks p {
  font-size: 40px;
  line-height: 60px;
}

/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.

*/
#overview {
  display: none
}

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}

.impress-enabled {
  pointer-events: none
}

.impress-enabled #impress {
  pointer-events: auto
}

.impress-enabled pre {
  max-height: 80%;
  overflow-y: auto;
  font-size: 0.6em;
}

.impress-enabled pre code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 0.8em;
  line-height: 1.2em;
  max-height: 90%;
  min-height: 24em;

  overflow-x: auto;
}

#nav {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 1em;
  height: 1em;
  font-size: 16px;
  z-index: 20000;
  white-space: nowrap;
}

#nav li {
  display: inline;
  margin: 0 0.3em;
}

#nav a {
  cursor: pointer;
  pointer-events: auto;
}

#nav a.active {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
}
